# PostgreSQL Database Connection String
DATABASE_URL=

# Secret key for JWT signing and verification
JWT_SECRET=

# SMTP Credentials for Password Reset emails
EMAIL_USER=
EMAIL_PASS=

# Frontend App URL for password reset links (e.g., https://transitops.vercel.app or http://localhost:5173)
FRONTEND_URL=http://localhost:5173

# Frontend Client URL for CORS restriction (e.g., https://transitops.vercel.app or http://localhost:5173)
CLIENT_URL=http://localhost:5173
